<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        {{user.username}}
        {{get_avatar_emoji user_avatar}}
        on
        {{format_date created_at}}
      </div>
      <div class="text">
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>