<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shred It!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! <script
      src="https://kit.fontawesome.com/64efdffb7b.js"
      crossorigin="anonymous"
    ></script> }}
    <link rel="icon" href="/images/favicon1.ico" />
  </head>

  <body>

    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Shred It!</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/login">login | </a>
            <a href="/signup">sign up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>